/* Google Fonts - Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* Custom Properties */
:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

/* Global Styles */
body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-blue);
    min-height: 100svh;
}

/* Main Card Containers */
.card-container {
    width: clamp(15rem, 85%, 50rem);
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    position: relative;
}

.image-container {
    width: 100%;
    object-fit: cover;
}

.image-container img {
    border-radius: 0.8rem 0.8rem 0 0;
}

.content-container {
    display: flex;
    flex-direction: column;

    padding: 2.4rem;
}
/* Card Header Styles */
.title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3;
    color: var(--very-dark-grayish-blue);
    margin-bottom: 0.8rem;
}

.description {
    color: var(--desaturated-dark-blue);
    margin-bottom: 2.2rem;
}

/* Card Footer Styles */
.author-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.author-name {
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
}

.author-img {
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    object-fit: cover;
}

.date {
    color: var(--grayish-blue);
}

.share-button {
    margin-left: auto;
    border: none;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    padding: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 3;
}

.share-button.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    bottom: -1.1rem;
    background-color: var(--desaturated-dark-blue);
}

.share-button.active img {
    filter: brightness(0) invert(1);
}

.share-button img {
    width: 1.1rem;
}

.share-options {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    gap: 1rem;
    background: var(--very-dark-grayish-blue);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 4px;
    border-radius: 0 0 10px 10px;
    padding: 1.8rem;
    z-index: 2;
}

.share-options-menu {
    display: flex;
    gap: 1rem;
}

.share-options-menu:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    scale: 1.1;
}

.share-options.active {
    display: flex;
}

.share-options img {
    width: 1.5rem;
}

.share-options span {
    font-size: 1rem;
    color: var(--grayish-blue);
}

/* Desktop */
@media only screen and (min-width: 64.063rem) {
    .card-container {
        display: flex;
        flex-direction: row;
    }
    .content-container {
        flex: 1 1 60%;
    }
    
    .title {
        font-size: 1.4rem;
    }

    .image-container {
        height: 20rem;
        flex: 1 1 40%;
    }
    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.8rem 0 0 0.8rem;
    }

    .share-button.active {
        display: flex;
        left: auto;
        right: 0;
        bottom: auto;
        background: var(--desaturated-dark-blue);
    }

    .share-options.active {
        background-color: var(--very-dark-grayish-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 38%;
        gap: 1rem;
        left: auto;
        height: 1rem;
        width: 19.5rem;
        right: -6rem;
        border-radius: 0.8rem;
        padding: 2rem 2rem;
    }

    .share-options.active::after {
        content: '';
        position: absolute;
        
        width: 1.1rem; 
        height: 1.1rem;
        background-color: var(--very-dark-grayish-blue); 
        right: 9.3rem; 
        top: 100%; 
        transform: translateY(-50%) rotate(45deg);       
        z-index: 0;
    }

    .share-options-menu::after {
        transform: rotate(45deg); 
        transform: translateY(-50%);
        margin-left: 0,1rem; 
    }
}

/* Tablet */
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
    .card-container {
        max-width: 35rem;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .share-options.active {
        display: flex;
        justify-content: center;
    }
}